<template>
  <!-- About Section -->
  <div class="about w3-container w3-padding-32 w3-center"> 
    <h3>Sobre nós</h3><br>
    <img src="../assets/tekken-7.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4><b>Quem somos nós</b></h4>
      <h6><i>Um pouco da nossa história</i></h6>
      <p>GameShop antiga ps3gamesdigitais é um site de vendas de produtos ORIGINAIS, atuando desde 2004 com vendas de games no Mercado Livre, em 2012 optamos por criar e priorizar nosso site a fim de oferecer o melhor atendimento a nossos clientes, a GameShop busca sempre inovar e aperfeiçoar-se, de maneira a facilitar a compra e o entendimento sobre os produtos com uma linguagem clara e direta, Temos como objetivo a satisfação total de nossos clientes praticando um preço justo, vários meios de parcelamentos, diversidade de produtos, auxílio à dúvidas, envio rápido, frete barato e promoções. Nos orgulhamos de termos praticamente 100% de satisfação de nossos clientes, quem compra na GameShop sempre retorna, Temos paixão por games! Temos prazer em atender bem! Somos GameShop.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About',
  props: {
  }
}
</script>
