<template>
  <!-- Contact Section -->
  <div class="contact w3-container w3-padding-64" id="contact">
    <h1>Contato</h1><br>
    <p class="w3-text-blue-grey w3-large"><b>Está com alguma dúvida? A equipe GameShop ajuda você!</b></p>
    <p>ENVIE SUAS DÚVIDAS, SUGESTÕES OU SOLICITAÇÃO DE SUPORTE ATRAVÉS DO FORMULÁRIO ABAIXO, RESPONDEREMOS O MAIS BREVE POSSÍVEL:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Nome" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Plataformas" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Mensagem" required name="Message"></p>
      <p><button class="btn btn-primary btn-lg" type="submit">Enviar</button></p>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Contact',
  props: {
  }
}
</script>
