<template>
  <div class="product" v-if="product">
    <b-row>
      <b-col xl="6" lg="6" md="6" sm="12" cols="12">
        <img v-bind:src="image" id="image">
        <br>
        <div v-if="product.images.length > 1">
            <img v-for="(image, index) in product.images" 
                :src="imagePreview(image)"
                @click="updateImage(index)" :key="'imagePreview' + index"
                class="imagePreview cursor-pointer">
        </div>
        <br>
        <div v-for="(color, index) in product.colors" 
            :key="'color' +  index"
            class="color-box cursor-pointer"
            :style="{ backgroundColor: color.cssColor }"
            @click="updateColor(index)">
        </div>
      </b-col>

      <b-col xl="6" lg="6" md="6" sm="12" cols="12">
        <h2 class="pt-md-0 pt-3">{{ product.title }}</h2>
        <h1 class="price">R$ {{ product.price }}</h1>
        <h4>Descrição:</h4>
        <p class="text-muted">{{ product.description }}</p>
        <h4>Características:</h4>
        <p v-for="(feature, index) in product.features" class="text-muted" :key="'feature' + index">
            {{ feature }}
        </p>
        <h4 v-if="product.specifications.length">Especificações:</h4>
        <p v-for="(specification, index) in product.specifications" class="text-muted" 
            :key="'specification' + index">
            {{ specification }}
        </p>
        <h3 v-if="quantity <= inStock" class="small-center mobile-center"><b-badge pill variant="success">Em estoque</b-badge></h3>
        <h3 v-else class="small-center mobile-center"><b-badge pill variant="danger">Sem estoque</b-badge></h3>

        <div class="form-row mt-3 mb-3">
          <div class="col mobile-hide medium-hide large-hide extra-large-hide"></div>
          <div class="col-auto">
            <label for="quantity">Quantidade:</label>
          </div>
          <div class="col-lg-2 col-md col-sm-2 col">
            <input type="number" class="form-control" id="quantity" placeholder="Insira a quantidade"
              v-model="quantity" required :disabled="!inStock">
          </div>
          <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto col-12 mt-sm-0 mt-3 mobile-center">
            {{product.price}} x {{quantity}} = {{productQuantity}}
          </div>
          <div class="col mobile-hide"></div>
          <div class="col-xl-auto col-lg-6 col-12 mt-xl-0 mt-3">
            <div class="row">
                <div class="col mobile-hide medium-hide large-hide extra-large-hide"></div>
                <div class="col-xl-12 col-lg-12 col-md-8 col-sm-6 col-12">
                    <button class="btn btn-primary btn-block btn-lg" v-on:click="addToCart" 
                        :disabled="quantity > inStock"
                        :class="{ disabledButton: quantity > inStock }">
                        Adicionar ao carrinho
                    </button>
                </div>
                <div class="col mobile-hide medium-hide large-hide extra-large-hide"></div>
            </div>
          </div>        
        </div>
        
        <Cart/>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from './../axios'
import { mapState } from 'vuex'
import Cart from '@/components/Cart.vue'

export default {
  name: 'Details',
  components: {
    Cart
  },
  data() {
    return {
      productId:this.$route.params.productId,
      product: null,
      selectedColor: 0,   
      quantity: 1,
      selectedImage: 0
    }
  },
  created() {
    axios.get(`/products/` + this.productId).then((response) => {
        console.log('GET /products', response)
        this.product = response.data
        return 'Axios'
    }, error => {
        console.log('Erro capturado no then: ', error)
        return Promise.reject(error)
    })
    .catch(error => {
        console.log('Erro capturado no catch: ', error)
        if (error.response) {
            this.mensagemErro = `Servidor retornou um erro: ${error.message} ${error.response.statusText}`
            console.log('Erro [resposta]: ', error.response)
        } else if (error.request) {
            this.mensagemErro = `Erro ao tentar comunicar com o servidor: ${error.message}`
            console.log('Erro [requisição]: ', error.request)
        } else {
            this.mensagemErro = `Erro ao fazer requisição ao servidor: ${error.message}`
        }
        return 'Curso VueJS'
    }).then((algumParametro) => {
        console.log('Sempre executado!', algumParametro)
    })
  },
  methods: {
      addToCart: function() {
        this.$store.state.cart += Number(this.quantity);
        this.product.colors[this.selectedColor].quantity -= this.quantity;
      },
      updateColor: function(index) {
          this.selectedColor = index;
      },
      updateImage: function(index) {
          this.selectedImage = index;
      },
      imagePreview(image) {
          return require('../assets/' + image + '-' + this.product.colors[this.selectedColor].value + '.png');
      }
  },
  computed: {
      image() {
          return require('../assets/' + this.product.images[this.selectedImage] + '-' + this.product.colors[this.selectedColor].value + '.png');
      },        
      inStock() {
          return this.product.colors[this.selectedColor].quantity;
      },
      productQuantity() {
        return Number(this.product.price.replace('.', '').replace(',', '.')) * this.quantity;
      },
      ...mapState({
        cart: 'cart'
      })
  }
}
</script>

<style scoped>
.product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    text-align: left;
}

#image {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
    width: 80%;
}

.product-image,
.product-info {
    margin-top: 10px;
    width: 50%;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 5px;
}

.review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
}

textarea {
    width: 100%;
    height: 60px;
}

.tab {
    margin-left: 20px;
}

.activeTab {
    color: #16C0B0;
    text-decoration: underline;
}

.small-font {
    font-size: 12px;
} 

.in-stock {
    padding: 5px;
    background-color: #0f0;
    border: 1px dashed #666;
    width: 25%;
    text-align: center;
}

.no-stock {
    padding: 5px;
    background-color: #f00;
    border: 1px dashed #666;
    width: 25%;
    text-align: center;
}

.imagePreview {
    border: 1px solid #d8d8d8;
    width: 10%;
    margin: 5px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .mobile-hide {
        display: none;
    }

    .mobile-center {
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .small-hide {
        display: none;
    }

    .small-center {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .medium-hide {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .large-hide {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .extra-large-hide {
        display: none;
    }
}
</style>
