<template>
  <div class="home">
    <Products/>
    <Cart/>
  </div>
</template>

<script>
// @ is an alias to /src
import Products from '@/components/Products.vue'
import Cart from '@/components/Cart.vue'

export default {
  name: 'home',
  components: {
    Products,
    Cart
  }
}
</script>
