<template>
    <div class="cart p-3 pl-5 pr-5">
        <h4>Carrinho <b-badge pill variant="warning">{{cart}}</b-badge></h4>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Cart',
  computed: {
      ...mapState({
        cart: 'cart'
      })
  }
}
</script>

<style scoped>
.cart {
    background-color: #e83600;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
</style>