<template>
  <div class="products">
<!-- !PAGE CONTENT! -->
<b-container class="pt-4">

  <!-- First Photo Grid-->
  <b-row id="products">
    <b-col v-for="(product, index) in products" class="p-0" xl="3" lg="4" md="6" sm="6" cols="12" :key="index">
      <img v-bind:src="getImage(index)" @click="goTodetail(product)">
      <h5 class="mt-2">{{product.title}}</h5>
      <h3 class="price">R$ {{product.price}}</h3>
    </b-col>
  </b-row>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
<!-- End page content -->
</b-container>
  </div>
</template>

<script>
import axios from './../axios'

export default {
  name: 'Products',
  props: {
  },
  data() {
    return {
      products: [],
      mensagemErro: undefined
    }
  },
  created() {
    axios.get(`/products`).then((response) => {
        console.log('GET /products', response)
        this.products = response.data
        return 'Axios'
    }, error => {
        console.log('Erro capturado no then: ', error)
        return Promise.reject(error)
    })
    .catch(error => {
        console.log('Erro capturado no catch: ', error)
        if (error.response) {
            this.mensagemErro = `Servidor retornou um erro: ${error.message} ${error.response.statusText}`
            console.log('Erro [resposta]: ', error.response)
        } else if (error.request) {
            this.mensagemErro = `Erro ao tentar comunicar com o servidor: ${error.message}`
            console.log('Erro [requisição]: ', error.request)
        } else {
            this.mensagemErro = `Erro ao fazer requisição ao servidor: ${error.message}`
        }
        return 'Curso VueJS'
    }).then((algumParametro) => {
        console.log('Sempre executado!', algumParametro)
    })
  },
  methods: {
    getImage(index) {
      return require('../assets/' + this.products[index].mainImage);
    },
    goTodetail(product) {
      this.$router.push({name:'details',params:{productId:product.id}})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img {
  height:227px;
  cursor: pointer;
}
</style>
