<template>
  <div id="app">
    <div id="nav">
      <!-- Navbar (sit on top) -->
      <div class="w3-top">
        <b-navbar toggleable="lg" type="dark" style="background-color: #111; color: #ccc;">
          <router-link to="/">
            <b-navbar-brand href="#home">GameShop</b-navbar-brand>
          </router-link>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <router-link to="/">
                <b-nav-item href="#products">Produtos</b-nav-item>
              </router-link>
              <router-link to="/about">
                <b-nav-item href="#about">Sobre</b-nav-item>
              </router-link>
              <router-link to="/contact">
                <b-nav-item href="#contact">Contato</b-nav-item>
              </router-link>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </div>
    <router-view/>
    <!-- Footer -->
    <footer class="w3-row-padding" id="footer">
      <b-container>
        <b-row>
          <b-col xl="4" lg="4" md="12" sm="12" cols="12">
            <h3>Quem somos</h3>
            <p>A GameShop busca sempre inovar e aperfeiçoar-se, de maneira a facilitar a compra e o entendimento sobre os produtos com uma linguagem clara e direta.Temos paixão por games! Temos prazer em atender bem! Somos GameShop.</p>
            <p>Desenvolvido por Teorema Sistemas</p>
          </b-col>
          <b-col xl="4" lg="4" md="6" sm="6" cols="12">
            <h3>Posts</h3>
            <ul class="w3-ul w3-hoverable">
              <li class="w3-padding-16">
                <img src="./assets/profile1.png" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">João da Silva</span><br>
                <span>A Ascenção dos E-Sports</span>
              </li>
              <li class="w3-padding-16">
                <img src="./assets/profile2.png" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Pedro dos Santos</span><br>
                <span>O Futuro da Realidade Virtual</span>
              </li> 
            </ul>
          </b-col>
          <b-col xl="4" lg="4" md="6" sm="6" cols="12">
            <h3>Tags populares</h3>
            <p>
              <span class="w3-tag w3-black w3-margin-bottom">PS4</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">PS3</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Corrida</span>
              <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">PC</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Xbox 360</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Luta</span>
              <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Xbox One</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">VR</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Hack and slash</span>
              <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Nintendo Switch</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">FPS</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Stealth</span>
              <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Nintendo Wii</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">RPG</span>
            </p>
          </b-col>
        </b-row>
      </b-container>

      <p id="original-themes">
        <br>
        <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_food_blog&stacked=h">Tema original 1</a> |
        <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_gourmet_catering&stacked=h">Tema original 2</a> | 
        <a :href="publicPath + 'trabalho1.pdf'">Sites semelhantes</a>
      </p>

      <div id="rodape" class="p-3 mt-3">
        <div class="row text-left">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h6 class="footer-title">DÙVIDAS</h6>
            <ul>
              <li><small><a href="#">Como comprar</a></small></li>
              <li><small><a href="#">Prazos e entregas</a></small></li>
              <li><small><a href="#">Garantia</a></small></li>
              <li><small><a href="#">Política de Privacidade</a></small></li>
              <li><small><a href="#">Segurança de compra</a></small></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h6 class="footer-title">FORMAS DE PAGAMENTO</h6>
            <ul>
              <li><small>Boleto Bancário</small></li>
              <li><small>Cartão Visa</small></li>
              <li><small>Cartão MasterCard</small></li>
              <li><small>Cartão GameShop</small></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h6 class="footer-title">CENTRAL DO CLIENTE</h6>
            <ul>
              <li><small><a href="#">Meus pedidos</a></small></li>
              <li><small><a href="#">Meus tickets</a></small></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h6 class="footer-title">CONTATO</h6>
            <ul>
              <li><small>(00) 0000-0000</small></li>
              <li><small><a href="#">gameshop@gmail.com</a></small></li>
              <li><small><a href="#">Visite nosso Blog</a></small></li>
              <li><small>Rua Padre Chagas, 3245 - Guarapuava, PR - 85010-020</small></li>
            </ul>
          </div>
        </div>

        <small class="text-center">B2W - Companhia Digital / CNPJ: 00.776.574/0006-60 / Inscrição Estadual: 492.513.778.117 / Rua Padre Chagas, 3245 - Guarapuava, PR - 85010-020</small>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      publicPath: process.env.BASE_URL
    }
  }
}
</script>

<style>
#app {
  font-family: "Arial", "Karma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.w3-bar-block .w3-bar-item {
  padding:20px
}

#original-themes {
  margin-bottom: 0px;
}

.price {
  font-family: 'arial';
  font-weight: bold;
  color: #f00;
}

.footer-title {
  color: #ff6e00;
}

#rodape {
  background-color: #111; 
}

#footer {
  padding: 0px;
}
</style>
